@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  outline: none;
  min-height: 100vh;
  background-color: #F6F7F8;
}

.container {
  @apply max-w-7xl mx-auto px-4
}


@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}